<div class="calendar-heading flex w-full md:w-3/12 justify-around items-center self-center">
<div class="p-2 text-sm">
  <a href="events?start_date=<%= @this_week.prev_week.strftime("%F") %>" class="link">
    Previous
  </a>
</div>

<span class="calendar-title">Week <%= @this_week.cweek %></span>

<div class="p-2 text-sm">
  <a href="events?start_date=<%= @this_week.next_week.strftime("%F") %>" class="link">
    Next
  </a>
</div>
</div>